<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head_base.html" %}
        <title>Histórico</title>
    </head>
    <body>
        <div class="body-geral">
            {% include "navbar.html" %}
            <div class="container-fluid barra-de-navegacao rounded-4 d-flex justify-content-center mt-4">
                <form class="d-flex justify-content-center w-100" action="POST">
                    <i class="material-symbols-outlined d-flex justify-content-center align-items-center fs-1 m-2">search</i>
                    <div class="input-group input-group-sm input-busca d-flex align-self-center me-auto">
                        <input type="text" class="input-busca"  placeholder="Buscar cliente">
                    </div>
                </form>
                <a href="" class="text-black">
                    <div class="card-filtro d-flex align-self-center justify-content-center align-items-center hover-scale fs-4">
                        <i class="bi bi-funnel me-2 fw-bold"></i>
                        <span class="fw-bold">Filtros</span>
                    </a>
                </div>
                <a href="" class="hover-scale d-flex">
                    <div class="card-filtro d-flex botao align-self-center justify-content-center align-items-center fs-4 m-3">
                        <i class="bi bi-download me-2 fw-bold"></i>
                        <span class="fw-bold">Exportar</span>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>
