<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head_base.html" %}
    <title>Histórico</title>
</head>
<body>
    <div class="body-geral">
        {% include "navbar.html" %}

        <div class="container mt-5">
    
    <div class="d-flex flex-column flex-md-row align-items-center bg-light p-3 rounded-3 shadow-sm">

        <form class="d-flex align-items-center flex-grow-1 w-100 mb-2 mb-md-0 me-md-3" role="search">
            
            <span class="material-symbols-outlined fs-1 me-2 text-muted">search</span>

            <input class=" me-2 input-busca" type="search" placeholder="Buscar cliente..." aria-label="Buscar">
        </form>

        <div class="d-flex w-100 w-md-auto justify-content-between justify-content-md-end">
            
            <button class="btn btn-outline-secondary d-flex align-items-center me-2 py-2" type="button">
                <i class="bi bi-funnel me-1 fs-4"></i>
                Filtros
            </button>

            <button class="btn btn-primary d-flex  botao hover-scale align-items-center py-2 fs-4 rounded-3 justify-content-center" type="button">
                <i class="bi bi-download me-3 text-center"></i>
                Exportar
            </button>

        </div>
    </div>
</div>
    </div>
</body>
</html>
