<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head_base.html" %}
    <title>Histórico</title>
</head>

<body>
    <div class="body-geral">{% include "navbar.html" %}


        <div class="container-fluid barra-de-navegacao rounded-4 d-flex justify-content-center mt-4">
            <form class="d-flex justify-content-center w-100" action="POST">
                <i class="material-symbols-outlined d-flex justify-content-center align-items-center fs-1 m-2">search</i>
                <div class="input-group input-group-sm input-busca d-flex align-self-center me-auto">
                    <input type="text" class="input-busca"  placeholder="Buscar cliente">
                </div>
            </form>

        </div>
    </div>
</body>

</html>