<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include "head_base.html" %}
    <title>Login</title>
</head>

<body>
    <div class="body-login">
        <div class="mb-5">
            <img src=" /image.png" width="430px">
        </div>


        <div class="login-card">
            <form>
                <div class="text-center mb-4 h1">
                    <p class="login">Login</p>
                </div>

                <div class="mb-4">
                    <label for="emailInput" class="form-label text-logo">Email:</label>
                    <input type="email" class="form-control p-2" id="emailInput" placeholder="Digite seu email">
                </div>

                <div class="mb-4">
                    <label for="passwordInput" class="form-label text-logo">Senha:</label>
                    <input type="password" class="form-control p-2" id="passwordInput" placeholder="Digite sua senha">
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-secondary btn-lg rounded-pill m-5 px-5">Entrar</button>
                </div>
            </form>
        </div>

        <p class="copyright fw-light opacity-25 ">
            Todos os direitos reservados @Verificação Inteligente De Acesso 2025.
        </p>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
            </script>
    </div>
</body>

</html>