<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ver clientes</title>
        {% include "head_base.html" %}
    </head>
    <body>
        <div class="body-geral">
            {% include "navbar.html" %}
            <div class="container mt-3">
                <div class="d-flex flex-column flex-md-row align-items-center bg-light p-3 rounded-3 shadow-sm">
                    <form class="d-flex align-items-center flex-grow-1 w-100 mb-2 mb-md-0 me-md-3"
                          role="search">
                        <span class="material-symbols-outlined fs-1 me-2 text-muted">search</span>
                        <input class="w-100 input-busca"
                               type="search"
                               placeholder="Buscar Cliente..."
                               aria-label="Buscar">
                    </form>
                    <div class="d-flex w-100 w-md-auto justify-content-between justify-content-md-end">
                        <button class="btn btn-outline-secondary d-flex align-items-center me-2 py-2 w-50 w-md-auto hover-scale "
                                type="button">
                            <i class="bi bi-funnel me-1 fs-4"></i>
                            Filtros
                        </button>
                        <button class="btn btn-primary d-flex botao hover-scale align-items-center py-2 fs-4 rounded-3 justify-content-center w-50 w-md-auto"
                                type="button">
                            <i class="bi bi-download me-3 text-center"></i>
                            Exportar
                        </button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row-cols-1 row-cols-xxl-3  g-4 mt-4 p-0">{% include "componentes/card_cliente.html" %}</div>
            </div>
            <nav aria-label="page-navegation"
                 class="d-flex justify-content-center mt-3 ">
                <ul class="pagination pagination-md d-flex gap-2">
                    <li class="page-item proximo-e-anterior hover-scale ">
                        <a class="d-flex justify-content-center align-items-center w-100 h-100 text-decoration-none"
                           href="">
                            <span class="fw-bold fs-6 text-black">Anterior</span>
                        </a>
                    </li>
                    <li class="page-item proximo-e-anterior hover-scale ">
                        <a class="d-flex justify-content-center align-items-center w-100 h-100 text-decoration-none"
                           href="">
                            <span class="fw-bold fs-6 text-black">Próximo</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>
