.body-login {
    background: #8f0508;
    background: radial-gradient(at center bottom, #980104, #3B0A3B);
    font-family: roboto;
    font-size: 30px;
    height: 100vh;
    flex-grow: 1;

}

.body-home {
    background: #8f0508;
    background: radial-gradient(at center bottom, #980104, #3B0A3B);
    font-family: roboto;
    font-size: 30px;
    height: 100vh;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;

}




.card-login {
    max-height: 500px;
    max-width: 500px;
    background-color: white;
}

.sombra {
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.2));
}

.sombra-leve-texto {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

input.form-control {
    border: 1px solid #6b0d0f;
    border-radius: 10px;
}

.hover-svg {
    box-shadow: none !important;
    border: none !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;

}

.hover-svg:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    filter: brightness(1.25);

}

input.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(152, 1, 4, 0.25);
    border-color: #980104;
    outline: 0;
}

.hover-svg:active {
    transform: translateY(5px) scale(1.1);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
}

html,
body {
    height: 100%;
    margin: 0;
}