<div class="col" id="card-cliente-{{ cliente.id }}">
    <div class="card h-100 d-flex rounded-3 sombra">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 gap-3">
            <div class="flex-shrink-0 mb-2 mb-md-0 me-md-3">
                <img src="https://cataas.com/cat?timestamp=1"
                     width="80px"
                     height="80px"
                     class="rounded-circle"
                     alt="...">
            </div>
            <div class="text-center text-md-start fw-bold fs-4 min-w-50">
                <span class="text-wrap text-break">{{ cliente.nome }}</span>
            </div>
            <div class="status-tabela-ativo text-white fw-bold text-center flex-shrink-0">
                <span>
                    {% if cliente.tem_acesso %}
                        Ativo
                    {% else %}
                        Inativo
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="card-body pt-0 pt-md-3">
            <i class="bi bi-envelope card-title text-center fs-5 align-items-center d-flex gap-2">Email: {{ cliente.email }}</i>
            <p class="card-text">
                <i class="bi bi-card-text card-title text-center fs-5 align-items-center d-flex gap-2">Documento: {{ cliente.documento }}</i>
            </p>
        </div>
        <button type="button"
                class="card-footer d-flex justify-content-center shadow-sm border-0 bg-transparent w-100"
                data-bs-toggle="modal"
                data-bs-target="#modalcliente{{ cliente.id }}">
            <span class="fw-bold editar-cliente d-flex justify-content-center text-white hover-scale fs-4">
                <i class="bi bi-pencil me-1"></i> Editar
            </span>
        </button>
    </div>
</div>
