{% for acesso in acessos %}
    <tr>
        <th scope="row">{{ acesso.id }}</th>
        <td>{{ acesso.usuario_id }}</td>
        <td>{{ acesso.cartao_id }}</td>
        <td>{{ acesso.local }}</td>
        <td>
            {% if acesso.tipo_acesso %}
                <div class="fw-bold status-tabela-ativo d-flex justify-content-center text-white">Ativo</div>
            {% else %}
                <div class="fw-bold status-tabela-inativo d-flex justify-content-center text-white">Inativo</div>
            {% endif %}
        </td>
    </tr>
{% endfor %}
