body {
    background-color: #8A0303;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: roboto;
    font-size: 20px;
}

.login-card {
    background-color: white;
    height: 450px;
    width: 450px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}


.form-label,
.text-logo {
    color: #8A0303 !important;
}



.forgot-password,
.copyright {
    color: white !important;
    text-decoration: none;
    font-size: 0.9rem;
}

.form-control {
    border-color: #8A0303;
}

.botao {
    padding: 10px;
}

.login {
    color: #8A0303;
    transition: all 0.3s ease-in-out;
    /* Transição OK */
}

.login:hover {
    transform: scale(1.05);
    /* Escala suave */
}

a {
    text-decoration: none;
    color: #8A0303;
    display: flex;
    margin-top: 10px;
}

.imagem {
    padding-bottom: 50px;
}

.copyright {
    padding-top: 100px;
    font-size: medium;
}

input {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}


button.btn-primary {
    background-color: #1D7EDD !important;
    border-color: #1D7EDD !important;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    transition: all 0.3s ease-in-out;
}

button.btn-primary:hover {
    transform: scale(1.05);

    background-color: #1D7EDD !important;
    border-color: #1D7EDD !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
}