a {
    text-decoration: none;
}

.body-login {
    background: #8f0508;
    background: radial-gradient(at center bottom, #980104, #3b0a3b);
    font-family: roboto;
    font-size: 30px;
    height: 100vh;
    flex-grow: 1;
}

.body-home {
    background: #8f0508;
    background: radial-gradient(at center bottom, #980104, #3b0a3b);
    font-family: roboto;
    min-height: 100vh;
}

.body-adm {
    background: #8f0508;
    background: radial-gradient(at center bottom, #980104, #3b0a3b);
    font-family: roboto;
    min-height: 100vh;
}

.botao {
    min-width: 220px;
    min-height: 50px;
    background: linear-gradient(#1d7edd, #104477);
    font-size: 36px;
    color: white;
    border-radius: 40rem;
}



.card-azul {
    min-width: 275px;
    min-height: 275px;
    color: white;
    background: linear-gradient(#1d7edd, #104477);
    border: none;
    backdrop-filter: blur(15px);
    border-radius: 25px;
}

.card-informacao {
    color: white;
    min-width: 275px;
    min-height: 146px;
    background: rgba(0, 0, 0, 16%);
    border-radius: 25px;
    border: none;
}

.card-login {
    max-height: 500px;
    background-color: white;
}

.sombra {
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.2));
}

.sombra-leve-texto {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

input.form-control {
    border: 1px solid #6b0d0f;
    border-radius: 10px;
}

.hover-scale {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
        filter 0.3s ease-in-out;
    cursor: pointer;
}

.hover-scale:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

input.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(152, 1, 4, 0.25);
    border-color: #980104;
    outline: 0;
}

.hover-scale:active {
    transform: translateY(5px) scale(1.1);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
}

@media (max-width: 576px) {
    .menu-card .card-title {
        font-size: 1.5rem;
    }

    .menu-card .card-subtitle {
        font-size: 0.7rem;
    }
}

.menu-center-wrapper {
    /* Centraliza o conteúdo (menu) na tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* Ocupa o espaço restante */
}

.menu {
    background: linear-gradient(#310A3F, #AA0608);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icone-grande {
    font-size: 90px;
}

.body-geral {
    background-color: #E5E5E5;
    font-family: roboto;
    min-height: 100vh;
}

.gradiente-navbar {
    background: linear-gradient(to left, #310A3F, #8A0303);
}

.barra-de-navegacao {
    max-width: 1500px;
    width: 100%;
    height: 100px;
    background-color: white;
}

.input-busca {
    background-color: #E5E5E5;
    border: none;
    width: 800px;
    max-width: 100%;
    height: 50px;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.card-filtro {
    width: 150px;
    height: 40px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;

}